body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b7cef1;
}

header {
    background: linear-gradient(to right, #00aaff, #00ffaa);
    color: #fff;
    padding: 32px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    background: #fff;
    padding: 16px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 16px;
}

nav ul li a, button{
    color: #00a8fc;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover, nav ul li a.active, button:hover {
    background: #00aaff;
    color: #fff;
    border-radius: 5px;
}

button {
    background-color: white;
    border: none;
}

main {
    padding: 32px;
    max-width: 800px;
    margin: 32px auto;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section {
    margin-bottom: 48px;
}

section img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 16px;
}

h2 {
    color: #00aaff;
    border-bottom: 2px solid #00ffaa;
    padding-bottom: 8px;
}

p {
    line-height: 1.6;
    color: #333;
}

footer {
    background: #00aaff;
    color: white;
    text-align: center;
    padding: 16px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
